<div class="bg-red min-h-48 md:flex-none md:w-64 overflow-y-scroll">
  <h2>{{t "layout.search"}}</h2>
</div>

<div class="bg-green min-h-48 flex-1 overflow-y-scroll">
  {{outlet}}
</div>

<div class="bg-yellow md:flex-none md:w-64 overflow-y-scroll sm:hidden lg:block">
  <h2>{{t "layout.chat"}}</h2>
</div>